<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT US</title>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>COUNTRY</th>
        <th>AGE</th>
        <th>GENDER</th>
    </tr>
    <tr>
        <td>Grace</td>
        <td>Kenya</td>
        <td>24</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Japheth</td>
        <td>Ethiopia</td>
        <td>39</td>
        <td>Male</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Germany</td>
        <td>35</td>
        <td>Female</td>
    </tr>
    <tr>
        <td>Reuben</td>
        <td>Spain</td>
        <td>20</td>
        <td>Male</td>
    </tr>
</table>

</body>
</html>