<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<!--<div>-->
<!--    <nav class="navbar navbar-expand-sm navbar-dark bg-info">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Bocor.</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="mynavbar">-->
<!--      <ul class="navbar-nav me-auto">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="Home.html">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="About_Us.html">About Us</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="Services.html">Services</a>-->
<!--        </li>-->
<!--          <li class="nav-item">-->
<!--          <a class="nav-link" href="Portfolio.html">Portfolio</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="Team.html">Team</a>-->
<!--        </li>-->
<!--          <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Contact</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="d-flex">-->

<!--        <button class="btn btn-primary" type="button">Get Started</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--  <hr>-->
<!--</div>-->
<div class="topic text-center">
  <h1><strong>CONTACT</strong></h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem blanditiis ea in ipsa ipsam itaque iusto laudantium, magni natus nemo nobis omnis rerum vero, voluptas voluptate voluptatum. Natus, provident!</p>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3"></div>
  <div class="col-md-3">
     <form>
       <div class="container">
         <div class="row">
    <div class="col-md-7">
      <input type="text" class="form-control" placeholder="Enter name" name="name">
    </div>
           <br>
    <div class="col-md-7">
      <input type="email" class="form-control" placeholder="Enter email" name="email">
    </div>
           <br>
  </div>
         <input type="text" class="form-control" placeholder="subject">
  </div>

</form>
  </div>


</div>
</body>
</html>